  /* Temas */ 
  html[data-theme="dark"] { 
    --theme-background: #202e38; 
    --theme-titulo: #f1f5f6;
    --theme-frase: #f1f5f6; 

    --theme-legend-text-light:#ccc;
    --theme-legend-text-dark:#eee; 
  
    --theme-legend-direction-light:#ccc;
    --theme-legend-direction-dark:#eee;

    --toggle-border: #f1f5f6; 
    --toggle-color: #f1f5f6;
    --toggle-background-color: #202e38;  

    --footer-background-hover: rgba(255, 255, 255, 0.1); 
    --footer-border:#fff; 
    --footer-color:#fff; 

    --periodic-element-inner-background: #202e38;

  }
  html[data-theme="light"] {   
    --theme-background: #f1f5f6; 
    --theme-titulo: #202e38;
    --theme-frase: #202e38; 

    --theme-legend-text-light:#202e38;
    --theme-legend-text-dark:#202e38; 
  
    --theme-legend-direction-light:#202e38;
    --theme-legend-direction-dark:#202e38;

    --toggle-border: #202e38;
    --toggle-color: #202e38;
    --toggle-background-color: #f1f5f6;

    --footer-background-hover: #fff;
    --footer-border: #202e38;
    --footer-color: #202e38;

    --periodic-element-inner-background: #f1f5f6;
  }

  /* Gradiente */
  :root {

    --background: #202e38; 
    --titulo: #f1f5f6;
    --frase: #f1f5f6; 

    --legend-text-light:#ccc;
    --legend-text-dark:#eee; 
  
    --light-legend-direction-light:#ccc;
    --light-legend-direction-dark:#eee;

    --social-media-light: #f3f9a6;
    --social-media-dark: #cbc634; 

    --fun-stuff-light:  #ff616d; 
    --fun-stuff-dark: #ffc171;

    --just-trying-light: #37cfdc;
    --just-trying-dark: #5a88e5;

    --intense-work-light:#a7df62;
    --intense-work-dark: #58ac30; 

    --douglas-novato-light:#DA70D6;
    --douglas-novato-dark:#C71585;
  
  }
  
  /* Gerais */
  
  body {
    background: var(--theme-background);
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    margin: 2em auto 0;
    font: 700 3em "Poppins", sans-serif;
    color: var(--theme-titulo);
    text-align: center;
  }
  
  h5 {
    margin: 0 auto 2em;
    font: 400 1.3em "Poppins", sans-serif;
    color: var(--theme-frase);
    text-align: center;
  }
  
  a {
    text-decoration: none;
  } 

  /* Botão Tema */

  .toggler-container {
    margin-bottom: 10px;
    font-size: 50px;
    height: 60px;
    width: 60px;
    border-color: var(--toggle-border);
    border-radius: 10px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--toggle-background-color);
    color: var(--toggle-color);
  }
  
  /* Rodapé com os links das redes sociais */
  footer {
    text-align: center;
    margin: 2em auto;
    width: 100%;
  }
  footer a {
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px dashed var(--footer-border);
    color: var(--footer-color);
    margin: 5px;
  }
  footer a:hover {
    background: var(--footer-background-hover);
  }
  footer a .icons {
    margin-top: 12px;
    display: inline-block;
    font-size: 20px;
  }
  
  /* Div Principal da Tabela [Estática] */
  .periodic-table {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    margin: auto;
    max-width: 1200px;
    justify-content: center;
  }
  /* Div de Elemento da Tabela */
  .periodic-element {
    padding: 4px;
    position: relative;
    z-index: 1;
    cursor: default;
    transition: all 0.3s ease;
  }
  /* Div Interna ( inner ) do Elemento da Tabela */
  .periodic-element .periodic-element-inner {
    background: var(--periodic-element-inner-background);
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    transition: inherit;
  }
  .periodic-element .title {
    font: 700 34px/1.3 "Poppins", sans-serif;
    margin: 0.3em 0 0;
    transition: 0.8s ease 600ms;
  }
  .periodic-element .description {
    font: 500 12px "Poppins", sans-serif;
    margin-top: -0.2em;
  }
  /* Div de Elemento da Tabela:hover - a animação ao passar o mouse sobre o elemento */
  .periodic-element:after {
    z-index: 10;
    content: attr(dataDescription);
    background: #f9f8f7;
    color: #333;
    width: 180px;
    position: absolute;
    top: 80%;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s, top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
    height: auto;
    font-size: 12px;
    line-height: 1.4;
    padding: 10px;
    margin: 0 0 0 -50px;
    border-radius: 6px;
    text-align: center;
  }
  .periodic-element:hover {
    transform: scale(1.12);
    z-index: 10;
  }
  .periodic-element:hover .periodic-element-inner {
    background: transparent;
  }
  .periodic-element:hover .title,
  .periodic-element:hover .description {
    -webkit-text-fill-color: #222;
  }
  .periodic-element:hover:after {
    top: 105%;
    opacity: 1;
  }
  
  /* Link e Cursor */
  a.periodic-element {
    cursor: pointer;
  }

  /* Estilização do Grupo: social-media (mídia social) */
  .social-media {
    background: linear-gradient(to bottom right, #f3f9a6 0%, #cbc634 100%);
  }
  .social-media .title,
  .social-media .description {
    background: -webkit-linear-gradient(#f3f9a6, #cbc634);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Estilização do Grupo: fun-stuff (coisas divertidas) */
  .fun-stuff {
    background: linear-gradient(to bottom right, #ff616d 0%, #ffc171 100%);
  }
  .fun-stuff .title,
  .fun-stuff .description {
    background: -webkit-linear-gradient(#ff616d, #ffc171);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Estilização do Grupo: just-trying (Personal Development) */
  .just-trying {
    background: linear-gradient(to bottom right, #37cfdc 0%, #5a88e5 100%);
  }
  .just-trying .title,
  .just-trying .description {
    background: -webkit-linear-gradient(#37cfdc, #5a88e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Estilização do Grupo: intense-work (Serious Work) */
  .intense-work {
    background: linear-gradient(to bottom right, #58ac30 0%, #a7df62 100%);
  }
  .intense-work .title,
  .intense-work .description {
    background: -webkit-linear-gradient(#58ac30, #a7df62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   
  /* Estilização do Grupo: Espaço vazio na tabela */
  .empty-spacer-1 {
    grid-column: 3/span 4;
    grid-row: 1;
  }
  .empty-spacer-2 {
    grid-column: 1;
    grid-row: 4;
  }

  /* Estilização do Novo Grupo: douglas-novato (Douglas Novato) clara: #DA70D6 - forte: #C71585 */
  .douglas-novato {
    background: linear-gradient(to bottom right, #DA70D6 0%, #C71585 100%);
  }
  .douglas-novato .title,
  .douglas-novato .description {
    background: -webkit-linear-gradient(#DA70D6, #C71585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Legenda da Tabela */
  .legend-table {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    margin: 2em auto 0;
  }
  .legend-table__marker {
    width: 25px;
    height: 25px;
    margin: 5px 5px 10px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0.5px 1px rgba(0, 0, 0, 0.15);
  }
  .legend-table__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px 5px 5px;
    background: -webkit-linear-gradient(var(--theme-legend-text-light), var(--theme-legend-text-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .legend-table__direction {
    display: inline-block;
    margin: 10px 15px 10px 10px;
    background: -webkit-linear-gradient(var(--theme-legend-direction-light), var(--theme-legend-direction-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Estilização da Seleção de Legenda */
  .legend-checked{
    display: inline-block;
  }  

  #social-media,
  #intense-work,
  #just-trying,
  #fun-stuff
  {
    display: none; 
  }

  #social-media:checked + .legend-checked{
    background: white;
    border-radius:4px;
    margin-bottom:20px;
    padding:2px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    color: #202e38;
  }

  #intense-work:checked + .legend-checked{
    background: white;
    border-radius:4px;
    margin-bottom:20px;
    padding:2px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    color: #202e38;
  }

  #just-trying:checked + .legend-checked{
    background: white;
    border-radius:4px;
    margin-bottom:20px;
    padding:2px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    color: #202e38;
  }

  #fun-stuff:checked + .legend-checked{
    background: white;
    border-radius:4px;
    margin-bottom:20px;
    padding:2px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    color: #202e38;
  }

  /* Estilização do Modal */
  .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  } 
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  } 
  .modal-window > div {
    border-radius: 1rem;
  } 
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
 
  