/* Temas */ 
html[data-theme="dark"] { 
  --theme-background: #202e38; 
  --theme-titulo: #f1f5f6;
  --theme-frase: #f1f5f6; 

  --theme-legend-text-light:#ccc;
  --theme-legend-text-dark:#eee; 

  --theme-legend-direction-light:#ccc;
  --theme-legend-direction-dark:#eee;

  --toggle-border: #f1f5f6; 
  --toggle-color: #f1f5f6;
  --toggle-background-color: #202e38;  

  --footer-background-hover: rgba(255, 255, 255, 0.1); 
  --footer-border:#fff; 
  --footer-color:#fff; 

  --periodic-element-inner-background: #202e38;

}
html[data-theme="light"] {   
  --theme-background: #f1f5f6; 
  --theme-titulo: #202e38;
  --theme-frase: #202e38; 

  --theme-legend-text-light:#202e38;
  --theme-legend-text-dark:#202e38; 

  --theme-legend-direction-light:#202e38;
  --theme-legend-direction-dark:#202e38;

  --toggle-border: #202e38;
  --toggle-color: #202e38;
  --toggle-background-color: #f1f5f6;

  --footer-background-hover: #fff;
  --footer-border: #202e38;
  --footer-color: #202e38;

  --periodic-element-inner-background: #f1f5f6;
}

/* Gradiente */
:root {

  --background: #202e38; 
  --titulo: #f1f5f6;
  --frase: #f1f5f6; 

  --legend-text-light:#ccc;
  --legend-text-dark:#eee; 

  --light-legend-direction-light:#ccc;
  --light-legend-direction-dark:#eee;

  --social-media-light: #f3f9a6;
  --social-media-dark: #cbc634; 

  --fun-stuff-light:  #ff616d; 
  --fun-stuff-dark: #ffc171;

  --just-trying-light: #37cfdc;
  --just-trying-dark: #5a88e5;

  --intense-work-light:#a7df62;
  --intense-work-dark: #58ac30; 

  --douglas-novato-light:#DA70D6;
  --douglas-novato-dark:#C71585;

}

body {
  font-family: 'DM Sans', sans-serif;
  color: #f1f5f6;
  background: var(--theme-background); 
  margin: 0px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3.5vmax;
  font-weight: 700;
  margin-top: 0px;
  padding: 1em 1em 0px 1em;
}

header h5 {
  font-size: 2vmax;
  font-weight: 400;
  margin: 0 auto 2em;
}

#table {
  overflow-x: auto;
}

#table-inner {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  padding: 24px 0px;
  min-width: 1024px;
}

.table-item {
  padding: 3px;
  width: 94px;
  height: 94px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.table-item:hover {
  transform: scale(1.1);
}

.table-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 74px;
  height: 94px;
  border-radius: 9px;
  background: var(--theme-background);
  transition: all 0.3s ease;
}

.table-item-inner:hover, .highlight {
  background-color: transparent;
  color: #222;
}

.short-title {
  font-size: 35px;
  font-weight: 700;
}

.title {
  font-size: 12px;
  margin-top: -0.2em;
}

#legend-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 750px) {
  #legend-inner {
      flex-direction: column;
  }
}

.legend-item {
  display: flex;
  width: fit-content;
  margin: 5px;
  padding: 5px;
  border: 1px dashed transparent;
  border-radius: 12px;
}

.legend-item label {
  cursor: pointer;
}

.selected {
  border: 1px dashed #f1f5f6;
}

.legend-item-marker {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-right: 5px;
}

input[type="checkbox"] {
  display: none;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal-content {
  color: #222;
  background-color: #fff;
  height: fit-content;
  max-height: 90%;  
  max-width: 500px;
  margin: 1rem;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 20%);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.modal-group {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.modal-close {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* Rodapé com os links das redes sociais */
footer {
  text-align: center;
  margin: 2em auto;
  width: 100%;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed var(--footer-border);
  color: var(--footer-color);
  margin: 5px;
}
footer a:hover {
  background: var(--footer-background-hover);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}

/* Botão Tema */ 
.toggler-container {
  margin-bottom: 10px;
  font-size: 50px;
  height: 60px;
  width: 60px;
  border-color: var(--toggle-border);
  border-radius: 10px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--toggle-background-color);
  color: var(--toggle-color);
}